{% extends "layout.html" %}

{% block content %}
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <fieldset class="form-group">
            <legend class="border-bottom mb-4">               
                    {% if existing_review %}
                        Edit your review for "{{ movie.title }}"
                    {% else %}
                        Write a review for "{{ movie.title }}"
                    {% endif %}
            </legend>

            <!-- rating -->
            <div class="form-group mb-3">
                {{ form.rating.label(class="form-control-label") }}

                {% if form.rating.errors %}
                    {{ form.rating(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.rating.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.rating(class="form-control form-control-lg") }}
                {% endif %}
            </div>
<!-- content -->
            <div class="form-group mb-3">
                {{ form.content.label(class="form-control-label") }}

                {% if form.content.errors %}
                    {{ form.content(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.content(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>

        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>

    </form>
</div>
{% endblock content %}